:root {
	--my-green: #2bb24c;
	--my-orange: #ff6a00;
	--my-grey: #f3f3fa;
	--my-dark: #3f383e;
}

.container-fluid {
	margin-top: 50px;
}

.sr-only {
	position: absolute;
  
	width: 1px;
	height: 1px;
	padding: 0;
  
	overflow: hidden;
  
	white-space: nowrap;
  
	border: 0;
  }
  
.row {
	margin-left: -15px;
	margin-right: -15px;
}
